
.hight{
    height: '50px';
    background-color: aliceblue;
}

.light-theme .hight{
  background: #c81111;
}

.homeheading{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.light-theme .homeheading{
  background: #e9e8e8;
}
.heading{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: "20px";
}

.light-theme .heading{
  background: #e9e8e8;
}