.activity-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #111111;
  min-height: 100vh;
}

.light-theme .activity-container{
  background: #f4f4f4;
}

.activity-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.back-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.activity-title {
  font-size: 22px;
  font-weight: 700;
}

.ad-banner {
  background-color: #e5e5e5;
  color: #555;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 20px 0;
  font-size: 15px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 10px 0;
  color: #dcd9d9;
}

.light-theme .section-title{
    color: #333;
}
.loader {
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: gray;
}

.no-data {
  text-align: center;
  color: #777;
  margin: 20px 0 30px;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-card {
  display: flex;
  align-items: flex-start;
  background-color: #dcdada;
  border-radius: 15px;
  padding: 10px 14px;
  gap: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.notification-card:hover {
  background-color: #e6e6e6;
}

.notification-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.notification-info {
  flex: 1;
  max-width: 80%;
}

.notification-text {
  font-size: 14px;
  line-height: 1.3;
  color: #222;
  margin: 0 0 4px 0;
}

.notification-meta {
  font-size: 12px;
  color: gray;
  margin-bottom: 2px;
}

.notification-time {
  font-size: 11px;
  color: #888;
}

/* 234567890 */
.icon-with-badge {
  position: relative;
  display: inline-block;
}

.notification-icon {
  font-size: 22px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -16px;
  right: -10px;
  /* background-color: red; */
  color: white;
  border-radius: 50%;
  /* padding: 2px 6px; */
  font-size: 10px;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}
.badgebg{
    background-color: red;
    width: 20px;
    height: 20px;
    margin-top: -70px;
    /* margin-left: 20px; */
    border-radius: 50%;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .activity-container {
    padding: 10px;
  }

  .notification-card {
    padding: 8px;
  }

  .notification-avatar {
    width: 45px;
    height: 45px;
  }

  .notification-text {
    font-size: 13px;
  }

  .section-title {
    font-size: 16px;
  }

  .activity-title {
    font-size: 20px;
  }
}
