.earning-activity-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.light-theme .activityc{
  background: #e9e8e8;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.banner p{
    color: aliceblue;
}
.light-theme .banner p{
    color: #333;
}

.header h2 {
  margin: 0;
}

.banner {
  text-align: center;
  margin-bottom: 20px;
}

.banner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.banner p {
  font-weight: 600;
  font-size: 16px;
}

.info-section {
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info-section h3 {
  color: #28a745;
  margin-bottom: 8px;
}

.info-section p,
.info-section ul {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.info-section ul {
  padding-left: 20px;
}

.cta-container {
  text-align: center;
  margin-top: 20px;
}

.cta-button {
  background-color: #28a745;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #218838;
}

.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: #888;
}

.info-section p{
    color: #333;
}
li{
    color: #333;
}

.lititle li{
    color: #333;
}