.download-container {
  background-color: #000; 
  color: #fff;
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
      margin-top: -20px;
    padding-top: 30px;
}

.light-theme .download-container {
 
 background-color: whitesmoke;
}
.light-theme .hh{
  color: #000;
}
.download-content {
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.download-content h1 {
  font-size: 38px;
  margin-bottom: 15px;
  color: #00ffcc;
}

.download-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
}

.download-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.download-buttons img {
  width: 180px;
  transition: transform 0.3s ease;
}

.download-buttons img:hover {
  transform: scale(1.05);
}

.screenshot-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top:20px;
}

.screenshot-gallery img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s;
  border-radius: 10px;
}

.screenshot-gallery img:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 768px) {
  .download-content h1 {
    font-size: 28px;
  }

  .download-buttons img {
    width: 140px;
  }

  .screenshot-gallery img {
    width: 90%;
  }
}
